.setup {
  display: flex;
  flex-direction: column;
  height: 300px;
}

.setup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 100%;
}

.setup-footer {
  padding: 24px 0 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
